* {
	margin: 0;
	padding: 0
}

html, body {
	background: #F2EEE2;  
}

@font-face {
	font-family: hand-written;
	src: url('fonts/CONFN___.TTF');
}

.navbar {
	padding-bottom: 0;
}

#mainNav {
	position: relative;
	padding-bottom: 0;
}

.navbar-brand {
	color: #52658F !important;
	font-size: 2em;
	font-family: 'hand-written', 'Roboto', sans-serif;
}

.nav-link {
	color: #52658F !important;
	font-size: 1.3em;
	font-family: 'hand-written', 'Roboto', sans-serif;
}

.nav-item {
	text-align: right;
}

.index-content {
	margin-top: 12px;
}



.btn-custom {
	background-color: #F8F8F8;
	border: #52658F;
	color: #52658F;
	font-weight: 100;
	border: 2px solid #52658F;
	
	padding: 10px 10px 3px 10px;
	margin: 10px;
	
	font-family: 'hand-written', 'Roboto', sans-serif;
	font-size: 1.5em;
}

.btn-custom:hover {
	background-color: #52658F;
	border: 2px solid #F8F8F8;
}

.btn-custom:active {
	background-color: #333A56 !important;
	border: 2px solid #F8F8F8;
}


.btn-back {
	background-color: #333A56 !important;
	color: #F8F8F8;
	
	padding: 10px 10px 3px 10px;
	margin: 10px;
	
	font-family: 'hand-written', 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	border: 2px solid #F8F8F8;
}

.btn-back:hover {
	background-color: #F8F8F8 !important;
	color: #333A56 !important;
	border: 2px solid #333A56;
}

/*
#collapse-close-btn {
	padding: 4px !important;
	margin: 0px;
	margin-top: 10px !important;
	
}
*/




.hm-sec-lg {
	padding: 0;
/*	position: relative;*/
}

.hm-sec-lg img {
	display: block;
	margin: auto;
	width: 16em;
	height: auto;
}

.hm-sec-lg-content {
/*	display: block;*/
	margin: auto;
	width: 100%;
/*	height: auto;*/
	text-align: center;
	box-shadow:  0 0 10px 10px rgb(242, 238, 226, 0.86);
	
	position: absolute;
	top: 52%;
	
	background-color: rgb(242, 238, 226, 0.85);
}

.hm-sec-lg-name {
	color: #333A56;
	font-size: 4em;
	font-family: 'hand-written', 'Roboto', sans-serif;
}

.hm-sec-lg-title {
	color: #333A56;
	font-size: 2em;
	font-family: 'hand-written', 'Roboto', sans-serif;
	margin-top: -25px;
	display: block;
}

#hm-sec-lg-contact {
	color: #333A56;
	font-size: 1.7em;
	font-weight: 100;
	font-family: 'hand-written', 'Roboto', sans-serif;
	padding-bottom: -10px;
}

.hm-sec-link {
	color: #52658F !important;
	font-family: 'hand-written', 'Roboto', sans-serif;
	font-size: 1.7em;
}
.hm-sec-link:hover {
	color: #333A56 !important;
}

#about-me-collapse {
/*	background: #52658F;*/
	background: rgb(82, 101, 143, 0.95);
	z-index: 100;
	position: absolute;
	border-radius: 10px;
	color: #F8F8F8;
	
	margin: 0% 5%;
	padding: 5%;
}

#about {
/*	margin-right: -5%;*/
}



.homepage-text {
	display: block;
	margin: 5%;
	color: #333A56;
	text-align: center;
	font-family: 'Roboto', sans-serif;

/* Got the following off the internet	*/
	position: relative;
	top: 43%;
	transform: translateY(-50%); /* or try 50% */
}





.hm-sec-sm {
	padding: 1em;
/*	margin: 1em;*/
}

.hm-sec-sm img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	border-radius: 10px;
}
.hm-sec-sm img:hover {
	opacity: 0.5;
}

.hm-sec-sm-text {
	display: block;
/*	margin: 5%;*/
	color: #52658F;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.hm-sec-sm-text-title {
	font-weight: 600;
	font-size: 1.5em;
	color: #333A56;
}
.hm-sec-sm-text-title:hover {
	color: #333A56;
}

.hm-sec-sm-text-hashtags {
	font-size: 0.9em;
	font-weight: 500;
	color: #333A56;
}

.hm-sec-sm-text-desc {
	font-size: 1.1em;
	font-weight: 100;
	color: #333A56;
	margin: 10px;
}


/* PROJECT PAGES */

.project-content {
	margin-top: 1.5em;
	text-align: center;
}

.project-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2.5em;
	color: #333A56;
}

.project-details {
	background: #333A56;
	margin-top: 0.5em;
	padding: 1.5em;
	border-radius: 10px;
	
	
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #F8F8F8;
}

.detail-section {
	font-weight: 600;
}

.project-writeup {
	margin: 2em;
	color: #333A56;
	font-size: 1.05em;
	text-align: left;
}

.takeaways-title {
	font-size: 1.5em;
	font-weight: 700;
}

.takeaways-list {
	margin-left: 5%;
}

.project-media {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.project-media iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-description {
	font-size: 0.8em;
	text-align: left;
	font-weight: 500;
	margin: 0% 12%;
}


@media screen and (max-width: 767px) {	
	#hm-sec-abt {
		display: none;
	}	
		
	.hm-sec-sm {
		padding: 1em;
		margin: 0em 1em;
	}
}

@media screen and (min-width: 768px) {	
	#hm-sec-btn-abt {
		display: none;
	}	
}


.filterDiv {
	display: none;
}

.show {
   display: block;
}

.container {
	overflow: hidden;
}

#myBtnContainer {
	align-content: center;
	display: block;
	text-align: center;
	margin-top: 2%;
}

.hm-sec-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 3em;
	color: #333A56;
	text-decoration: overline;
}

#hm-sec-btn-row {
	margin: 1.5% 0% 3% 0%;
}

.fil-elem-txt {
	margin: 0% 1%;
	padding: 1%;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	color: #F8F8F8;
/*	text-decoration: underline;*/
	background-color: #52658F;
	border-radius: 10px;
}

.fil-elem-txt:hover {
	background-color: #333A56;
}

.fil-elem-text:visited {
	border-style: inset;
}