<footer class="text-center">
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="footer-col col-lg-12">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href=https://github.com/cbiasco>
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href=https://www.linkedin.com/in/caleb-biasco-6648478a>
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
							</li>
            </ul>
        </div>
				</div>
				<div class="footer-col col-lg-12">
					<a class="link" href="mailto:muhamamdbintahirmir@gmail.com">muhammadbintahirmir@gmail.com</a>
				</div>
			</div>
		</div>
</footer>